@charset "utf-8";

/* リセットの記述 */
body,h1,h2,h3,h4,p,ul,section,article,figure,img{
    margin: 0;
    padding: 0;
    list-style: none;
}

img{
    vertical-align: bottom;
}

a{
    text-decoration: none;
}

