@charset "utf-8";

.access_head h3 {
    padding-bottom: 70px;
}
.access_head p {
    font-size: 20px;
    line-height: 45px;
    letter-spacing: 0.6px;
    text-align: center;
    padding-bottom: 53px;
}
.access_head p span {
    padding: 0 6px;
    font-size: 28px;
    
}
.map {
    text-align: center;
}
.map p {
    padding-bottom: 35px;
    font-size: 20px;
}
.map p span {
    padding-left: 1.5em;
}
.googleMap iframe {
    filter:grayscale(70%);
}
.parking {
    padding-top: 100px;
}
.parking_text {
    font-size: 21px;
    line-height: 35px;
    text-align: center;
    padding: 42px;
}
.parking_note {
    justify-content: center;
}
.parking_note p {
    margin-left: 1em;
    padding-top: 2px;
}
.table tr td:nth-of-type(1) {
    padding: 30px 50px;
}
