@charset "utf-8";

/* 全体の基本指定 */
*{
    box-sizing: border-box;
}
body {
    font-size: 18px;
    line-height: 1;
    font-weight: 500;
    color: #F5EFE7;
    background-color: #05032B;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}

/* 使い回しの指定 */
/* 幅の制御 */
.inner {
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
}
/* 横並び */
.flex {
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align: center;
}
h3 {
    font-size: 44px;
    padding: 170px 0 140px;
    letter-spacing: 3px;
    text-align: center;
}
h4 {
    font-size: 28px;
    letter-spacing: 2px;
}
a {
    color: #F5EFE7;
}

/* ヘッダー */
.header_logo {
    padding-top: 20px;

}
.header_logo img {
    width: 137px;
    height: auto;
}
.header {
    justify-content: center;
    position: fixed;
    z-index: 9999;
}
.header nav ul {
    padding-top: 64px;
}
.nav_ul li{
    position: relative;
    padding: 20px 22px;
}
.header nav ul li a {
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 20px;
    display: block;
    padding: 20px 22px;
    margin: -20px -22px;
}
/*線の基点位置*/
.nav_ul li::before,
.nav_ul li::after{
    content:"";
    /*絶対配置で線の位置を決める*/
    position: absolute;
    /*線の形状*/
    width: 0;
    height:2px;
    background:#F5EFE7;
/*アニメーションの指定*/
    transition: all 0.2s linear;
    transition-delay: 0.2s;
}
.nav_ul li::before{
    right: 0;
    top: 0;
}
.nav_ul li::after{
    left: 0;
    bottom: 0;
}
/*線の基点位置2 spanタグ*/
.nav_ul li span{
    display: block;
}
.nav_ul li span::before,
.nav_ul li span::after{
    content:"";
    /*絶対配置で線の位置を決める*/
    position: absolute;
    /*線の形状*/
    width:2px;
    height:0;
    background: #F5EFE7;
/*アニメーションの指定*/
    transition: all 0.2s linear;
}

.nav_ul li span::before{
    left: 0;
    top: 0;
}
.nav_ul li span::after{
    right: 0;
    bottom: 0;
}

/*現在地とhoverした際の線の変化*/
.nav_ul li:hover::before,
.nav_ul li:hover::after{
    width: 100%;/*横幅を100%に*/
}
.nav_ul li:hover span::before,
.nav_ul li:hover span::after{
    height: 100%;/*縦幅を100%に*/
}
/* ハンバーガーメニュー */
.hamburger {
    display: none;
}
.hamburger {
    position: relative;
    background: #F5EFE7;
    width: 74px;
    height: 74px;
    border-radius: 10px;
}
.hamburger span {
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 18px;
    height: 3px;
    border-radius: 2px;
    background: #05032B;
    width: 50%;
}
.hamburger span:nth-of-type(1) {
    top:24px; 
}

.hamburger span:nth-of-type(2) {
    top:37px;
}

.hamburger span:nth-of-type(3) {
    top:50px;
}
.hamburger.active span:nth-of-type(1) ,
.hamburger.active span:nth-of-type(3){
    top: 23px;
}
/* 表 */
.table {
    padding: 50px 0 30px ;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    border-spacing: 0;
}
.table tr:first-of-type {
    background-color: #F5EFE7;
    color: #05032B;
}
.table tr th {
    border-left: 2px solid #05032B;
    padding: 15px 30px;
    font-size: 20px;
    letter-spacing: 2px;
}
.table tr th:first-of-type {
    border: none;
}
.table tr td {
    border-left: 2px solid #F5EFE7;
    border-bottom: 2px solid #F5EFE7;
    padding: 30px;
    font-size: 26px;
}
.table tr td span {
    font-size: 20px;
}
.table tr td:last-of-type {
    border: 2px solid #F5EFE7;
}

/* タブボタン */
.tab_control {
    justify-content: space-evenly;
}
.tab {
    display: inline-block;
    cursor: pointer;
    margin-bottom: 60px;
}
.layout {
    border: 4px solid #F5EFE7;
    align-items: center;
    font-size: 27px;
    padding: 20px 40px;
}
.layout p {
    letter-spacing: 3px;
}
.layout p::after {
    display: inline-block;
    width: 5px;
    height: 5px;
    content: "";
    border-top: 4px solid #F5EFE7;
    border-right: 4px solid #F5EFE7;
    transform: rotate(135deg);
    border-radius: 2px;
    padding: 5px;
    margin: 0 0 5px 30px;
}

/* フッター */
.footer {
    background: url("../images/footer_bg.png");
    width: 100%;
    height: 762px;
    bottom: 0;
    text-align: center;
    margin: 0 auto;
}
.footer .flex {
    justify-content: center;
}
.footer_logo {
    padding-top: 310px;
    text-align: center;
}
.nav_ul, .sns, .footer_list {
    padding-top: 30px;
}
.nav_ul li,
.sns li {
    margin: 0 1em;
}
.footer .nav_ul li a,
.footer_list li a,
.copy small {
    color: #05032B;
}
.footer .nav_ul {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.6px;
}
.sns :nth-of-type(2) img{
    padding-top: 5px;
}
.footer-list li a{
    font-size: 14px;
}
.footer_list li:last-child::before{
    content: "|";
    padding-right: 2em;
    color: #05032B;
    margin-left: 2em;
}
.copy{
    padding-top: 20px;
    font-size: 12px;
}
.footer .nav_ul li::before,
.footer .nav_ul li::after,
.footer .nav_ul li span::before,
.footer .nav_ul li span::after {
    background: #05032B;
}

/* トップへ戻るボタン */
.top_btn {
    position: fixed;
    right: 50px;
    bottom: 40px;
}

/* もっと見るボタン */
.read_btn {
    background: #f5efe72d;
    width: 214px;
    height: 64px;
    display: block;
    margin: 0 auto;
    font-size: 20px;
    position: relative;
    /*アニメーションの指定*/
    transition: all .3s;
    transition-delay: .6s;/*0.7秒遅れてアニメーション*/
}
.read_btn span {
    padding: 20px 55px;
    display: block;
    /*アニメーションの指定*/
    transition: all .3s;
    transition-delay: .6s;/*0.7秒遅れてアニメーション*/    
}
/*hoverした際の、ボタンの背景とテキスト色の変更*/
.read_btn:hover{
    background:#F5EFE7;
}
.read_btn:hover span{
    color: #05032B;
    
}
/*横線の設定*/
.read_btn::before,
.read_btn::after{
    content:"";
    /*絶対配置で線の位置を決める*/   
    position: absolute;
    /*線の形状*/   
    width: 0;
    height: 2px;
    background: #F5EFE7;
    /*アニメーションの指定*/
    transition: all 0.2s linear;
}
/*縦線の設定*/
.read_btn span::before,
.read_btn span::after{
    content:"";
    /*絶対配置で線の位置を決める*/   
    position: absolute;
    /*線の形状*/
    width:2px;
    height:0;
    background: #F5EFE7;
    /*アニメーションの指定*/
    transition: all 0.2s linear;
}

/*hoverした際、線が縦横100%伸びる*/
.read_btn:hover::before,
.read_btn:hover::after{
    width: 100%;
}
.read_btn:hover span::before,
.read_btn:hover span::after{
    height: 100%;
}

/*== 左上と右下から枠線が伸びて塗に */
/*横線が0.2秒送れて出現*/
.read_btn::before{
    right: 0;
    top: 0;
    transition-delay: 0.2s;
}
.read_btn::after{
    left: 0;
    bottom: 0;
    transition-delay: 0.2s;
}
/*縦線が出現*/
.read_btn span::before{
    left: 0;
    top: 0;
}
.read_btn span::after{
    right: 0;
    bottom: 0;
}

/* カレント */
.nav_ul .current::before,
.nav_ul .current::after {
    content: none;
}
.header .current {
    border: #F5EFE7 solid 2px;
}
.footer .current {
    border: #05032B solid 2px;
}
/* sp改行を消す */
.br_sp {
    display: none;
}

/* レシポンシブ */
@media screen and (max-width: 767px) {
    /* リセットする記述 */
    * { 
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body {
        min-height: 100vh;
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
    }
    .inner {
        max-width: 768px;
        width: 100%;
        margin: 0 auto;
    }
    .flex {
        display: block;
    }
    /* sp専用の改行 */
    .br_sp {
        display: block;
    }
    /* common */
    .header_logo img{
        width: 111px;
        height: auto;
        padding: 27px 0 0 8px;
    }
    h2 img{
        height: 45px;
    }
    .header .nav_ul {
        display: none;
    }
    .m_nav {
        position: fixed;
        top: 57px;
        right: 23px;
    }
    .hamburger {
        display: block;        
    }
    /* もっと見るボタン */
    .read_btn {
        width: 170px;
        height: 50px;
        font-size: 16px;
        text-align: center;
        align-items: center;
    }
    .read_btn span {
        padding: 15px 45px;
    }
    /* フッター */
    .footer {
        background: url("../images/footer_bg_m.png") no-repeat;
        width: auto;
        height: 100%;
        background-size: cover;
    }
    .sns, .footer_list {
        display: flex;
        justify-content: space-evenly;
    }
    .footer_list {
        font-size: 15px;
    }
    .copy {
        padding: 24px 0 27px;
    }
    /* トップへ戻るボタン */
    .top_btn img {
        width: 70px;
        height: auto;
    }
    .top_btn {
        right: 20px;
    }
}