@charset "utf-8";

.layout p {
    margin-left: 100px;
}
.layout p::after {
    margin-left: 100px;
}
.map {
    text-align: center;
    width: 94%;
    height: auto;
}

.area {
    text-align: center;
}
.area h2 {
    padding: 50px 0 120px;
}
.area .flex {
    justify-content: center;
    padding-bottom: 105px;
}
.deep_sea {
    padding: 0 100px;
}
.area_box div p:first-of-type {
    font-size: 33px;
    letter-spacing: 2.64px;
    padding: 50px 0 37px;
}
.area_box div p:last-of-type {
    font-size: 17px;
    letter-spacing: 1.6px;
    line-height: 45px;
}
.area_bg div:first-of-type {
    padding-right: 30px;
}
.area_bg {
    background: url("../images/guide_bg.png") no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
    padding-bottom: 60px;
}
.area_bg .read_btn {
    margin-top: 20px;
}
/* レシポンシブ */
@media screen and (max-width: 767px) {
    main .flex {
        display: flex;
        justify-content: space-evenly;
    }
    .layout {
        margin: 38px 0 0;
    }
    .layout p {
        font-size: 21px;
        margin: 0;
    }
    .layout p::after {
        width: 3px;
        height: 3px;
        padding: 3px;
        margin: 0 0 3px 0.5em;
    }
    .map img {
        width: 100%;
        height: auto;
        padding: 5px;
    }
    .area h2 {
        padding: 0;
    }
    .area .flex:first-of-type {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .area_bg_m {
        background: url("../images/guide_bg_m.png") no-repeat;
        width: 100%;
        height: auto;
    }
    .area .flex {
        padding: 0;
    }
    .area_box img {
        height: 200px;
        width: auto;
        margin: 70px 0 30px;
    }
    .area_box div p:first-of-type {
        font-size: 29px;
        letter-spacing: 2.32px;
        padding: 30px 0 21px;
    }
    .area_box div p:last-of-type {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 30px;
    }
    .deep_sea {
        padding: 0;
    }
    .area_bg {
        background-image: none;
    }
    .area_bg .flex {
        display: flex;
        flex-direction: column;
    }
    .area_box  div {
        width: 100%;
    }
    .area_bg div:first-of-type {
        padding: 0;
    }
}