@charset "utf-8";

/* タイムスケジュール */
.time {
    text-align: center;
}
.time p {
    font-size: 19px;
    padding: 30px 0 100px;
}
/* イベント情報 */
.event {
    padding-top: 100px;
    padding-left: 73px;
    align-items: center;
}
.event_box .flex {
    justify-content: flex-start;
}
.event h4 {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 5.25px;
}
.event_content {
    padding-left: 60px;
}
.event_text p:first-of-type{
    font-size: 21px;
    line-height: 40px;
    padding: 42px 0 32px;
}
.event_text p:last-of-type{
    letter-spacing: 2.85px;
    padding-bottom: 37px;
}
.event_content .flex .flex {
    padding-right: 40px;
    align-items: center;
}
.event_content .flex .flex p{
    padding-left: 20px;
    font-size: 26px;
}
/* 有料体験 */
.paid_head h4 {
    font-size: 35px;
    letter-spacing: 5.55px;
    padding: 230px 0 30px;
    text-align: center;
}
.target {
    text-align: left; /* 文字を左寄せ */
    display: flex;
    flex-direction: column; /* 垂直方向に配置 */
    justify-content: center; /* 垂直方向に中央寄せ */
    align-items: center; /* 水平方向に中央寄せ */
    margin-left: 300px;
}
.target::before {
    border-left: 3px solid #F5EFE7;
    content: "";
    padding: 100px 3px;
    position: absolute;
    margin-right: 32vw;
}
.target_head {
    font-size: 23px;
}
.paid_head ul li ul{
    font-size: 20px;
    padding: 15px 0 0 2.5em;
    line-height: 40px;
    list-style: disc;
}
.paid_event {
    font-size: 20px;
    letter-spacing: 3.45px;
    line-height: 30px;
    padding: 30px 0;
}
.paid_bg {
    background: url("../images/news_bg.png") no-repeat;
    background-size: cover;
    height: 1779px;
    width: 100%;
}

/* お知らせ */
.news {
    padding: 0 80px;
}
.news_box .flex {
    justify-content: flex-start;
}
.news_content {
    padding: 38px 0 38px;
    border-bottom: 3px solid #F5EFE7;
    align-items: center;
}
.news_content:last-of-type {
    border: none;
}
.news_text {
    padding-left: 30px;
}
.news_text p:first-of-type {
    padding: 5px 0 22px;
    font-size: 24px;
    letter-spacing: 2.16px;
}
.news_text p span {
    font-size: 21px;
    padding-right: 1.5em;
}
.news_text p:last-of-type {
    padding-left: 3em;
    font-size: 17px;
    line-height: 27px;
}
.page {
    text-align: center;
    border-bottom: 1px solid #F5EFE7;
    width: 28px;
    padding-bottom: 5px;
    margin: 0 auto;
}
.page a {
    margin-bottom: 10px;
}
/* レシポンシブ */
@media screen and (max-width: 767px) {

}