@charset "utf-8";

/* タブボタン */
.layout img {
    padding-right: 20px;
}
#tab1 .layout {
    padding: 20px 62px;
}
.charge_text {
    padding-left: 200px;
    text-align: left;
    line-height: normal;
}

/* 年間パスポート */
.passport {
    text-align: center;
    padding: 80px 0;
}
.passport h4 {
    padding-top: 30px;
}
.passport_p {
    padding: 15px 0 50px;
    letter-spacing: 1px;
}
.passport .flex {
    justify-content: space-evenly;
}
.passport_btn {
    border: 6px solid #F5EFE7;
    border-radius: 57px;
    margin-bottom: 42px;
    display: block;
    cursor: pointer;
    transition: all .6s;
}
.passport_btn p {
    font-size: 28px;
    padding: 32px 60px;
}
.passport_btn p::after {
    display: inline-block;
    width: 5px;
    height: 5px;
    content: "";
    border-top: 4px solid #F5EFE7;
    border-right: 4px solid #F5EFE7;
    transform: rotate(45deg);
    border-radius: 2px;
    padding: 5px;
    margin-left: 30px;
}
.pass_btn2 p{
    padding: 32px 70px;
}
.passport::before {
    background: url("../images/passport_left.png") no-repeat;
    width: 39px;
    height: 338px;
    content: "";
    padding: 169px 20px;
    position: absolute;
    left: 100px;
}
.passport::after {
    background: url("../images/passport_right.png") no-repeat;
    width: 39px;
    height: 338px;
    content: "";
    padding: 169px 20px;
    position: absolute;
    right: 70px;
    top: 916px;
}
.passport_btn:hover {
    background-color: #F5EFE7;
}
.passport_btn:hover p a {
    color: #05032B;
}
.passport_btn:hover p::after {
    border-top: 4px solid #05032B;
    border-right: 4px solid #05032B;
}

/* 障害をお持ちの方 */
.charge2 h4{
    text-align: center;
    padding: 34px 0;
}
.charge2_text {
    font-size: 22px;
    letter-spacing: 2.3px;
    text-align: center;
}
.charge2_list {
    justify-content: space-evenly;
    font-size: 23px;
    padding-top: 30px;
}
.charge2_list li::before {
    background: url("../images/maru_blue.png") no-repeat;
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; /* アイコンとテキスト間のスペース調整（必要に応じて調整） */
    width: 24px;
    height: 24px;
    padding-top: 5px;
}
/* 一般のお客さまここまで */

/* 一般団体のお客さま */
.group_head {
    justify-content: center;
    padding: 50px 0;
}
.group_head h3 {
    padding: 5px 0 0 1em;
}
.group_head img {
    width: 61px;
    height: 61px;
}
.g_head_text {
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    padding-bottom: 56px;
}

/* お申し込み方法 */
.apply h2 {
    padding: 60px 0 40px;
}

/* 左側 */
.step {
    position: absolute;
}
.heckler {
    margin: 130px 0 50px 36px;
}
.apply_flex {
    justify-content: flex-start;
}
.step2 {
    padding-left: 100px;
}
.step3{
    padding-left: 175px;
}

/* 右側 */
.apply_content {
    padding-top: 25px;
}
.fax {
    padding-right: 100px;
}
.tel {
    padding-right: 50px;
}
.apply_text{
    padding: 10px 0 40px;
    line-height: 40px;
}
.apply_content .flex {
    justify-content: center;
}
.apply_content h5 {
    margin: 20px 0;
}
.apply_content img {
    width: 38px;
    height: 38px;
    margin-right: 1em;
}
.apply_head_box {
    background-color: #F5EFE7;
    color: #05032B;
    font-size: 27px;
    align-items: center;
    border-radius: 1px;
}
.right_text {
    font-size: 17px;
    letter-spacing: 1.36px;

    text-align: center;
}
.fax .right_text {
    padding: 43px 0 30px;
}
.tel .right_text {
    line-height: 30px;
    padding: 43px 0 53px;
}
.tel_number {
    font-size: 17px;
    line-height: 40px;
}
.tel_number span {
    color: #F4CE14;
    letter-spacing: 6.58px;
    padding-left: 0.5em;
    font-size: 47px;
}
.apply_note img {
    width: 24px;
    height: 24px;
}
.apply_note p {
    font-size: 18px;
    letter-spacing: 0.54px;
    padding-top: 2px;
}
.apply_note {
    padding: 6px 0 40px;
}
.apply_btn {
    border: 3px solid #F5EFE7;
    border-radius: 57px;
    margin-bottom: 20px;
    align-items: center;
}
.apply_btn_content {
    align-items: center;
    cursor: pointer;
}
.apply_btn {
    display: block;    
}
.apply_btn p {
    font-size: 18px;
    padding: 15px 0;
    letter-spacing: 1.44px;
    text-align: center;
}
.apply_btn p span {
    font-size: 15px;
    letter-spacing: 1.2px;
}
.apply_btn_content img {
    width: 31px;
    height: 31px;
}
.pdf_img {
    margin-left: 37px;
}
.apply_btn_content::after {
    display: inline-block;
    width: 5px;
    height: 5px;
    content: "";
    border-top: 4px solid #F5EFE7;
    border-right: 4px solid #F5EFE7;
    transform: rotate(45deg);
    border-radius: 2px;
    padding: 5px;
}
/* レシポンシブ */
@media screen and (max-width: 767px) {
    /* タブボタン */
    .tab_control {
        justify-content: space-evenly;
        display: flex;
    }
    .tab {
        margin-bottom: 60px;
        width: 40%;
        margin-top: 20px;
    }
    .layout {
        border: 4px solid #F5EFE7;
        align-items: center;
        font-size: 27px;
        padding: 15px 0;
    }
    .layout p {
        letter-spacing: 2.4px;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
    }
    .layout p::after {
        display: none;
    }
    .layout img {
        padding-right: 20px;
        display: none;
    }
    #tab1 .layout {
        padding: 15px 0px;
    }
    
    .charge_text {
        padding-left: 15px;
        text-align: left;
        line-height: 18px;
        font-size: 15px;
    }
    /* 年間パスポート */
    .passport h4 {
        padding-top: 0;
        font-size: 24px;
    }
    .passport_p,
    .charge2_text {
        padding: 15px 0 30px;
        letter-spacing: 0px;
        font-size: 16px;
        line-height: 20px;
    }
    .passport_btn {
        border-radius: 57px;
        margin-bottom: 39px;
    }
    .passport_btn p {
        font-size: 24px;
        padding: 27px;
    }
    .pass_btn2 p{
        padding: 27px;
    }
    .passport::before,
    .passport::after {
        display: none;
    }
    .passport_btn:hover {
        background-color: #05032B;
    }
    .passport_btn:hover p a {
        color: #F5EFE7;
    }
    .passport_btn:hover p::after {
        border-top: 4px solid #F5EFE7;
        border-right: 4px solid #F5EFE7;
    }

    /* 障害をお持ちの方 */
    .charge2 h4{
        padding: 0;
    }
    .charge2_list {
        font-size: 19px;
        padding: 10px 0 0 20%;
        text-align: left; /* 文字を左寄せ */
    }
    .charge2_list li::before {
        background-size: 20px;
        align-items: center;
        width: 20px;
        height: 20px;
    }
    /* 一般のお客さまここまで */

    /* 一般団体のお客さま */
    .group_head {
        justify-content: center;
        padding: 50px 0;
    }
    .group_head h3 {
        padding: 5px 0 0 1em;
    }
    .group_head img {
        width: 61px;
        height: 61px;
    }
    .g_head_text {
        text-align: center;
        font-size: 20px;
        letter-spacing: 2px;
        padding-bottom: 56px;
    }

    /* お申し込み方法 */
    .apply h2 {
        padding: 60px 0 40px;
    }

    /* 左側 */
    .step {
        position: absolute;
    }
    .heckler {
        margin: 130px 0 50px 36px;
    }
    .apply_flex {
        justify-content: flex-start;
    }
    .step2 {
        padding-left: 100px;
    }
    .step3{
        padding-left: 175px;
    }

    /* 右側 */
    .apply_content {
        padding-top: 25px;
    }
    .fax {
        padding-right: 100px;
    }
    .tel {
        padding-right: 50px;
    }
    .apply_text{
        padding: 10px 0 40px;
        line-height: 40px;
    }
    .apply_content .flex {
        justify-content: center;
    }
    .apply_content h5 {
        margin: 20px 0;
    }
    .apply_content img {
        width: 38px;
        height: 38px;
        margin-right: 1em;
    }
    .apply_head_box {
        background-color: #F5EFE7;
        color: #05032B;
        font-size: 27px;
        align-items: center;
        border-radius: 1px;
    }
    .right_text {
        font-size: 17px;
        letter-spacing: 1.36px;

        text-align: center;
    }
    .fax .right_text {
        padding: 43px 0 30px;
    }
    .tel .right_text {
        line-height: 30px;
        padding: 43px 0 53px;
    }
    .tel_number {
        font-size: 17px;
        line-height: 40px;
    }
    .tel_number span {
        color: #F4CE14;
        letter-spacing: 6.58px;
        padding-left: 0.5em;
        font-size: 47px;
    }
    .apply_note img {
        width: 24px;
        height: 24px;
    }
    .apply_note p {
        font-size: 18px;
        letter-spacing: 0.54px;
        padding-top: 2px;
    }
    .apply_note {
        padding: 6px 0 40px;
    }
    .apply_btn {
        border: 3px solid #F5EFE7;
        border-radius: 57px;
        margin-bottom: 20px;
        align-items: center;
    }
    .apply_btn_content {
        align-items: center;
        cursor: pointer;
    }
    .apply_btn {
        display: block;    
    }
    .apply_btn p {
        font-size: 18px;
        padding: 15px 0;
        letter-spacing: 1.44px;
        text-align: center;
    }
    .apply_btn p span {
        font-size: 15px;
        letter-spacing: 1.2px;
    }
    .apply_btn_content img {
        width: 31px;
        height: 31px;
    }
    .pdf_img {
        margin-left: 37px;
    }
    .apply_btn_content::after {
        display: inline-block;
        width: 5px;
        height: 5px;
        content: "";
        border-top: 4px solid #F5EFE7;
        border-right: 4px solid #F5EFE7;
        transform: rotate(45deg);
        border-radius: 2px;
        padding: 5px;
    }
}